/* ============ Galeria =========== */
#fotos {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;

    div {
        overflow: hidden;
        border-radius: 20px;
    }
    
    img {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.05,1.05);
        }
    }
}

#videos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;

    iframe {
        width: 100%;
        height: 300px;
    }    
}

/* --------- Media queris --------- */
@media only screen and (min-width: 576px){
    #fotos, #videos{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        grid-template-rows: 1fr;
    }
}

@media only screen and (min-width: 992px){
    #fotos {
        grid-template-columns: repeat(3, 1fr);
    }
}